configuration {
	display-drun: "";
	display-window: "";
	drun-display-format: "{icons} {name}";
	font: "Dejavu Sans 8";
	modi: "drun,run,window,emoji";
	show-icons: true;
	icon-theme: "Delight";
	kb-remove-to-eol: "";
	kb-accept-entry: "Return";
	kb-row-up: "Control-k";
	kb-row-down: "Control-j";

  timeout {
      action: "kb-cancel";
      delay:  5;
  }
}


@theme "~/.config/rofi/theme"

